extends layout
include fonksiyonlar/yildiz


block content
    #banner.page-header
        .row 
            .col-lg-6 
                h1 
                    | #{sayfaBaslik.siteAd}
                    small &nbsp; #{sayfaBaslik.slogan}
    .row 
        each mekan in mekanlar
        .row.list-group 
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4 
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    +puanOlustur(mekan.puan)
                span.badge.pull-right.badge-default 4 km
                p.address Fatih Mah. 
                p
                    span.label.label-warning Kahveler
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Donuts
                    | &nbsp;

        .row.list-group 
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4 
                    a(href='/mekan') D'OR Bistro & Lounge 
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 3 km
                p.address Fatih Mah.
                p
                    span.label.label-warning Kahveler
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;
        .row.list-group 
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4 
                    a(href='/mekan') Arabica Coffee House
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                span.badge.pull-right.badge-default 1 km
                p.address Iyaş Park Avm
                p
                    span.label.label-warning Kahveler
                    | &nbsp;
                    span.label.label-warning Cookie
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;
                    span.label.label-warning Cheesecake
                    | &nbsp;